<title>Change Password</title>
<main>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Change Password</h1>

    <input type="password" formControlName="currentPassword" id="currentPassword" placeholder="Current Password">
    <div *ngIf="formControl.currentPassword.invalid && formControl.currentPassword.touched">
      <div *ngIf="formControl.currentPassword.errors?.required">Current password is required</div>
    </div>

    <input type="password" formControlName="newPassword" id="newPassword" placeholder="New Password">
    <div class="text-red-400 text-sm" *ngIf="passwordField?.dirty">
      <div *ngIf="formControl.newPassword.invalid && formControl.newPassword.touched">
        Password is required
      </div>
      <div *ngIf="!passwordField?.value?.match('^(?=.*[A-Z])')">Password needs at least one uppercase letter.</div>
      <div *ngIf="!passwordField?.value?.match('(?=.*[a-z])')">Password needs at least one lowercase letter.</div>
      <div *ngIf="!passwordField?.value?.match('(.*[0-9].*)')">Password needs at least one digit.</div>
      <div *ngIf="!passwordField?.value?.match('(?=.*[!@#$%^&*])')">Password needs at least one special character.</div>
      <div *ngIf="!passwordField?.value?.match('.{8,}')">Password needs to be at least 8 characters long.</div>
    </div>

    <div *ngIf="changeSuccessful">Password changed!</div>
    <div *ngIf="incorrectPassword">Password is incorrect</div>
    <button type="submit">Send</button>
  </form>
</main>
